body{
  background-color: black;
  border: 3px groove #F2B705;
  margin: 1em;
  border-radius: 10px;
  margin: auto;
  /*height: 100%;*/
}

.component-container{
  width: 100%;
  /*height: 100%;*/
}

.right-section{
  display: grid;
  grid-template-rows: .5fr .5fr 5fr;
  grid-template-rows: .1fr .1fr 5fr;
}

.buttons-section{
  margin: 0 auto;
}

.header{
  grid-row: 1;
}

.card-container{
  display: flex;
  justify-content: center;
  grid-row: 3;
}

.card-section{
  text-align: center;
}

/* @media screen and (min-width: 605px) and (max-width: 1113px){

} */

@media screen and (max-width: 1040px){

  .component-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-section-button{
    width: 130px;
  }

  .button-selected{
    width: 130px;
  }

  .favorites-button{
    width: 130px;
  }
}

@media screen and (max-width: 1040px){
  .buttons-section{
    width: 40rem;
  }
}

@media screen and (max-width: 679px){

  .card-section-button{
    width: 110px;
    font-size: 1em;
  }

  .swapi-title{
    font-size: 3.5em;
    margin: 1em auto;
  }

  .button-selected{
    font-size: 1em;
    width: 110px;
  }

  .favorites-button{
    font-size: 1em;
    width: 110px;
  }

  .buttons-section{

    width: 30rem;
  }
}

@media screen and (max-width: 527px){

  .buttons-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
  margin: 1em auto;
  }

  .swapi-title{
    font-size: 2.5em;
    margin: 1em auto;
  }

  .card-section-button{
    width: 200px;
    font-size: 2em;
  }

  .button-selected{
    font-size: 2em;
    width: 200px;
  }

  .favorites-button{
    font-size: 1em;
    width: 200px;
    font-size: 2em;
  }

  .header-section{
    margin: 1em auto;
  }
}

@media screen and (max-width: 465px){
  .swapi-title{
    font-size: 2em;
    margin: 1em auto;
  }

  .header-section{
    width: 100%;
  }

  .buttons-section{
    width: 90%;
  }

}

@media screen and (max-width: 464px){
  .swapi-title{
    font-size: 2em;
    margin: 1em auto;
  }

  .card-section-button{
    width: 200px;
    font-size: 2em;
  }

  .buttons-section{
    width: 200px;
  }

}
