.component-container{
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  height: 100vh;
}

.right-section{
  display: grid;
  grid-template-rows: .5fr .7fr 5fr;
}

.scroll-section{
  background-color: blue;
  grid-column: 1;
  grid-row: 1/3;
  height: 100vh;
}

.buttons-section{
  grid-row: 2;
}

.header{
  grid-row: 1;
}

.card-container{
  grid-row: 3;
}
