.buttons-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 50rem;
  height: 15rem;
}

.card-section-button{
  border: 1px solid #106282;
  border: 2px solid #106282;
  height: 50px;
  width: 150px;
  background-color: black;
  color: gold;
  border-radius: 5px;
  font-size: 1.5em;
}

.card-section-button:hover{
  border: 1px solid #106282;
  border: 2px solid #106282;
  background-color: gold;
  color: #122148;
}


.button-selected{
  border: 2px solid #106282;
  height: 50px;
  width: 150px;
  background-color: gold;
  color: #122148;
  font-size: 1.5em;
  border-radius: 5px;
}
