.buttons-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 50rem;
  height: 15rem;
}

.card-section-button{
  height: 50px;
  width: 150px;
  background-color: #17212B;
  color: yellow;
}
