.card{
  display: inline-block;
  margin: 2rem;
  background-color: #2F4B65;
  width: 16rem;
  height: 20rem;
  border-radius: 2em;
  text-align: center;
  border: 2px groove gold;
}

.star-favorite{
  color: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: gold;
  height: 40px;
  width: 40px;
}

.card {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.favorite-name{
  background-color: #106282;
  padding: .2em;
  border-radius: 2em 2em 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
