.header-div{
  background-color: green;
}

.header-section{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  /* grid-template-areas:
  ". title favorite"; */
}

.swapi-title{
  grid-column: 1;
  display: flex;
  justify-self: flex-end;
}

.favorites-button{
  text-align: center;
  grid-column: 2;
  height: 30px;
  width: 80px;
  display: flex;
  justify-self: flex-end;
  margin: 1em;
}
